{% extends "AdminBundle:Default:index.html.twig" %}

     {% block board %}
{{ form_start(form, {'attr': {'class': 'form-add-product'}}) }}
    {{ form_row(form.name) }}
{{ form_row(form.description) }}
     {{ form_row(form.summary) }}
     {{ form_row(form.categories) }}

     {{ form_widget(form.productsDerived.vars.prototype.name_derived) }}
     {{ form_widget(form.productsDerived.vars.prototype.price) }}
     {{ form_widget(form.productsDerived.vars.prototype.weight) }}
     {{ form_widget(form.productsDerived.vars.prototype.status) }}
     {{ form_widget(form.productsDerived.vars.prototype.medias.vars.prototype.files) }}

  {{ form_widget(form.productsDerived) }}


    <button type="submit">Ajouter</button>
{{ form_end(form) }}    {% endblock %}